// Variables

// Fonts
$font-size: 16px;


// Colors
$ie-blue: #0066cc;
$dark: #202225;
$light: #dcddde;
$gray: #eee;
$twitter: #1da1f2;
$linkedin: #0077b5;

$code-dark: #2f3136;
$code-light: #f6f8fa;
$code-blue: #81A1C1;
$code-green: #A3BE8C;
$code-teal: #8FBCBB;
$code-light-blue: #85C0D0;
